 <nav>
    <div class="nav-wrapper teal lighten-4">
      <ul class="right hide-on-med-and-down teal lighten-4">
        <li><%= link_to 'Go Back', @doctor, class: "waves-effect waves-light btn" %></li>
      </ul>
    </div>
  </nav>
  <h3>EDIT DOCTOR</h3>
<%= form_with(model: @doctor, local: true, class: "input-field col s6" ) do |f| %>
<div class="field">
  <%= f.text_field :first_name, required: true, placeholder: "First Name" %>
  <br>
  <%= f.text_field :last_name, required: true, placeholder: "Last Name" %>
  <br>
  <%= f.text_field :specialty, required: true, placeholder: "Specialty" %>
</div>
  <%= f.submit nil, class: "btn waves-effect waves-light" %>

<% end %>
